body {
	background: orange;
	font-family: arial;
}


/* Navigation */
a {
	font-size: 24px;
	color: white;
	text-decoration: none;
}

img {
	width: 300px;
}

/* Columns */
#leftcol {
	background: red;
	width: 400px;
	float: left;
}

#rightcol {
	background: blue;
	width: 400px;
	float: left;
}

.round {
	-webkit-border-radius: ;
	-moz-border-radius: ;
	border-radius: 20px;
}

.shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: 10px 10px 10px black;
}